/**accommodates mobile responsive**/
/**minimum of about 640px**********/
/**calculates the number of cards needed for a row**/

@media screen and (min-width: 60em) {
  .card {
      flex: 0 1 calc(25% - 1em);
  }
}


/**accommodates mobile responsive**/
/**minimum of about 320px**********/
@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 0 1 calc(50% - 1em);
  }
}





/**break points***/

@media screen and (min-width: 40em) {
  .cards {
 }

  .card {
  }
}

@media screen and (min-width: 60em) {
  .cards {
 }
   
  .card {
   }
}


/**largest card**/
@media screen and (min-width: 52em) {
  .container {
      
  }
}