/**accommodates mobile responsive**/
/**minimum of about 320px**********/
@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 0 1 calc(50% - 1em);
  }
}


/**break points
converted to px 
***>
/**accommodates mobile responsive**/
/**320px-832px**********/

/*CONVERTER*/
/* https://www.w3schools.com/tags/ref_pxtoemconversion.asp */

@media screen and (min-width: 40em) {
  .cards {
 }

  .card {
  }
}

@media screen and (min-width: 60em) {
  .cards {
    background-color: yellow
 }
   
  .card {
   }
}


/**
@media screen and (min-width: 52em) {
  .container {
      
  }

/**largest card**>
@media screen and (min-width: 60em) {
  .container {
      
  }
} */