/**MEDIA QUERIES**/

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 375px) {

} */

@media only screen and (min-width: 768px){  

    /***centered sections**/
    .hubspot-section .company-info,
    header,
    footer{
      width: 80%;
      margin: 0 auto;
    }
  
  .header-background-overlay{
      margin-top: -5rem;
  }

  .header-top {
    display: flex;
    margin-top: .5rem;
    justify-content: space-around;
  }

  .container.inner{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .logo-icon{
    transform: none;
    transform: skew(0deg, 0deg);
  }

  .hamburger-wrap {
    height: 55px;
    /* background-color: beige; */
    top: 1.9em;
    position: relative;
    left: 18px;
  }

  

    .hamburger-wrap .hamburger {
      bottom: 59px;
      height: 56px;
      position: relative;
  }
    .hamburger-wrap .hamburger > div {
      top: 3px
  }

  .header-text-box h1 {
    font-size: 3.2rem;
  }

  .logo-icon{
    border-radius: 66%;
    width: 5.5rem;
    height: 5.5rem;
    align-items: normal;
    padding: 1.5rem;
    grid-row: 2;
    grid-column: 2;
  }

  .logo-icons{
    display: grid;
    justify-content: end;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: start;
    justify-items: center;
    width: 77%;
    margin: 3rem auto;
  }

  .google-icon{
    grid-row: 1;
    grid-column: 1;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  .google .logo-icon li {
     padding: 0;
  }
  .paypal-icon{
    grid-column: 1;
    grid-row: 4;
  }
  .altassian-icon{
    grid-row: 2;
    grid-column: 2;
  }
  .weave-icon{
    grid-row: 4;
    grid-column: 3;
    justify-self: flex-start;
  }
  .asana-icon{
    grid-row:1;
    grid-column: 3;
  }

  .google-icon, .asana-icon{
    position:relative
  }

  .google-icon{
    top: 35px;
  }
  .asana-icon{
    top: 25px;
  }

  .card:last-child {
    margin: 1rem 0 1.2rem
}
  .top-hr-line{ 
    margin:2rem 0 1rem;
    background-color: rgb(242 242 242);
    width: 105%;
    position: relative;
    right: 17px;
    /* box-shadow: 0 10px 18px -16px  #717C8B inset;  */
  }

  .why-front .subtext{
    padding: 0rem 5rem;
  }


  .company-text{
    font-size: 1.6rem;
    margin-bottom:2rem
  }

  .logo{ 
    width: 7rem
  }

  .trusted-logos{
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .weebly, .spotify{
    display:block;
  }
  
  .logo.slack,.logo.uber{
    display:none
  }

  
  .cards{
    margin-bottom: 10px
  }

  .why-front-section{
    width: 80%;
    margin: 0 auto;
    padding-left: 4rem;
  }

  .image-and-play-btn>img {
    width: 80%;
  }
  
  .hire-us-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px
  }

  .hire-us-form label{
    display: none
  }
  .hire-us-content{
    width: 100%;
    min-width: 600px; 
  }
  form .getting-started-btn,
  textarea, .privacy-policy
  {
    grid-column: 1/3
  }
  .check-content{
    font-size: .9rem;
  }

  .woman-and-dots {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: 314px;
  }

  .dots{
    grid-column: 2/11;
    grid-row: 2/3;
  }

  .woman-and-dots .dots {
    width: 340px;
    grid-row: 3/4;
  }

  .woman-and-dots img:first-child {
      grid-column: 4/28;
  }

  br.thank-you{
    display:none
  }

  .price-heading{ 
    padding: 5rem 0 0.5rem;
  }

  .inner-price-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(273px,1fr));
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto
  }

  hr{
    margin: 1rem 0;
    border: none;
    height: 1px;
    background-color: rgb(211, 209, 209);
  }
  
  .price-info.card{
    grid-column: 1/3;
    box-shadow: 0 54px 51px 0px rgb(233 231 233);
    padding: 30px;
  }

  .inner-price-container .point-1 {
    padding-top: 0;
  }

  .company-and-features {
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
  }
}















/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}



/**RESPONSIVE CARDS**/
/**accommodates mobile responsive**/
/**minimum of about 640px**********/
/**calculates the number of cards needed for a row**/

@media screen and (min-width: 60em) {
  .card {
      flex: 0 1 calc(25% - 1em);
  }
}





/* 
