
.hamburger-wrap {
  display: none
}

.header-background-overlay {
  margin-top: -9rem;
  padding-top: 10rem;
}

header{
  margin-top: -10rem;
  padding-top: 10rem;
  transform: skewY(10deg);
  margin: 0 auto;
  width: 80%
}

.header-top{
  margin: 2rem 2rem;
}

.demo-content ul{
  padding: 0 2rem;
  justify-content: space-between;
  font-size: .8rem;
}

.demo-content  li:nth-child(2){
  display: flex;
  justify-content: space-between;
}

.demo-content ul a,
.nav-links a{
  color: gray
}
.nav-links{
  justify-content: right;
}
.nav-link{
  padding: 0 1rem;
}
.nav-links a{
  font-size: 1rem
}

.fa-chevron-left,
.fa-chevron-down{
  font-size: 10px;
}

.buy-now-btn{
  width: 5.5rem;
  height: 2.5rem;
  font-size: smaller;
}

.project-logo{
  margin: 0
}